.toolbar {
    padding: 0px 4px 12px 4px;
    display: flex;
    flex-direction: column;
    /* width: 40px; */
    min-width: 40px;
    gap: 12px;
    background-color: var(--gpBackground-DarkMedium);
    height: 100vh;
    overflow-y: inherit;
}