$header-height: 64px;

.header {
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    height          : $header-height;
    width           : 100%;
    background-color: var(--gpBackground-DarkMedium);
    color           : var(--gpSystemLightestGrey);
}