.button {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    border         : none;
    color          : #fff;
    padding        : 8px 4px;
    border-radius  : 4px;
    cursor         : pointer;
    height         : min-content;
    min-height     : 32px;
    min-width      : 32px;

    transition-property       : background-color;
    transition-timing-function: ease-out;
    transition-duration       : 200ms;
}

.button:hover {
    background-color: #555;
}
